nav {
	background-color: #403e94;
}

#logout {
	color: #fff9ea;
	transition: 0.3s;
}

#logout:hover {
	color: #a9a8cb;
	font-size: .99em;
}

.landing-content {
	height: 100vh;
}

form {
	margin: 1rem 1.5rem;
}

.form-container {
	width: 325px;
	/* height: 325px; */
}

.signup-form {
	width: 400px;
}
